name: CD

on:
  push:
    branches: ["main", "dev", "feature/runner"]

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/ing-sist/engine-service:dev-latest
            ghcr.io/ing-sist/engine-service:dev-${{ github.sha }}
          build-args: |
            GPR_USER=${{ secrets.USERNAME }}
            GPR_KEY=${{ secrets.TOKEN }}